---
---

// import bootstrap
@import "bootstrap";

// define a colour based on a bootstrap colour
$my-gray: $gray;

// remainder of sass goes here
p {
    color: my-gray;
}

.reduce-margin { 
    margin-top:-44px; 
}

div.moar-btns a {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-success;
}

body {
    margin-top: 20px;
}

.footer {
  margin-top: 20px;
  // width: 100%;
  // Set the fixed height of the footer here
  // height: 60px;
  // background-color: #f8f8f8;
  padding: 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin: 10px 0;
}
